#headersleft {
    background-color: white ;
    overflow: hidden;
    float: left;
    display: block;
    text-decoration: none;
    width:33%;
    }

 #headersright {
    background-color: white ;
    overflow: hidden;
    float: right;
    display: block;
    text-decoration: none;
    width:33%;
    }

.bigheader {
    background-color: grey ;
    overflow: hidden;
    float: left;
    display: block;
    text-decoration: none;
    width:33%;
}
#quote {
    clear: both;
}

#picone{
    width:20%;
    float:left;
}


#middlequote {
    width:30%;
    padding-left:10px;
    padding-right:10px;
    margin:0px;
    text-align: center;
}

#pictwo {
    width:20%;
    float:right;
}

#writing {
    clear:both;
    text-align:center;
}


#footerpart {
background-color:white;
clear:both;
display: block;
padding: 5px 200px;
text-align:center;
color: rgb(138, 16, 16)
}

#footerwhole {
background-color:rgb(138, 16, 16);
display: block;
padding: 20px 50px;
clear:both;
}
